/* ==========================================================================
   General Page Styles 
   ========================================================================== */
body {
  font-size: 12px !important;
  font-family: Arial, Tahoma, Geneva, sans-serif;
  line-height: 16px;
}
h1 {
  font-size:1.5em;
  font-weight: bold;
}
h2 {
  font-size:1.3em;
  font-weight: bold;
}
.italic {
  font-style:italic;
}
p, div, ul{
  font-size: 1.1em;
  line-height: 1.4em;
}
ul {
  margin-left:-24px;
}
img {
 width: 100%; 
 padding-top: 1em;
}
img#logo {
 width: 50%; 
}
.screen {
 border: 3px double red;
 border-radius: 15px;
 padding: 5px;
}
/* ==========================================================================
   General Styles on Map Display Pages 
   ========================================================================== */
fieldset {
  clear:both;
  margin-bottom: 12px;
  background-color: #f2f2f2;
}
#links {
  margin-top:-30px;
  float: right;
}


