/* ==========================================================================
   General Page Styles 
   ========================================================================== */
body {
  font-size: 12px !important;
  font-family: Arial, Tahoma, Geneva, sans-serif;
  line-height: 16px;
}
.contain {
  width: 95%;
  margin: auto;
}
.left3 {
  width: 22.5%;
  float: left;
  padding: 1em;
}
h1 {
  margin-left:1em;
  font-size:1.7em;
  font-weight: bold;
}
.index-brief {
  font-size:1.2em;
  font-weight: bold;
}
.index-brief a {
  text-decoration: none;
}
img {
 width: 100%; 
}
img#logo {
 width: 50%; 
}
.screen {
 border: 3px double red;
 border-radius: 15px;
 padding: 5px;
}


